{% extends 'base.html.twig' %}

{% block title %}Регистрация на сайте{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-half">
            <h1>Регистрация на сайте!</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="button is-link">Нажать</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}