<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comment show page</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <div>
        {{ page.content }}
        <br>
        {% if not page.comments.isEmpty %}
            <span>Содержимое первого коментария - </span>
            {{ page.comments[0].content }}
        {% endif %}
        <hr>
        {% for comment in page.comments %}
            <div class="box">
                {{ comment.content }}
            </div>
        {% endfor %}
    </div>
</body>
</html>