{% extends 'base.html.twig' %}

{% block title %}My twig page{% endblock %}

{% block body %}

    <h1><b>Список страниц сайта!</b></h1>

    {% for page in pages %}
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
        <hr>
    {% endfor %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        p {
            color: red;
        }
    </style>
{% endblock %}