<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test twig</title>
</head>
<body>
<h1><b>Список страниц сайта!</b></h1>

{{ dump(pages) }}

{% for page in pages %}
    <h3>{{ page.title }}</h3>
    <p>{{ page.content }}</p>
    <hr>
{% endfor %}

</body>
</html>
