<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
        {% block stylesheets %}
            <style>
                h3 {
                    color: green;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <section class="section">
            <div class="container content">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.js"></script>
    </body>
</html>
